/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
    color: black;
}

/* ----- Estilos Nav ----- */
nav {
    #top {
        height: 50px;
    }

    .active {
        border-bottom: 1px solid;
    }

    .container-fluid {
        .collapse {
            .navbar-nav {
                .nav-item {
                    .custom-hover {
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        position: relative;
                        -webkit-transition-property: color;
                        transition-property: color;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                    }

                    .custom-hover::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgb(233, 233, 233);
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transform-origin: 0 50%;
                        transform-origin: 0 50%;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                    }

                    .custom-hover:hover,
                    .custom-hover:focus,
                    .custom-hover:active {
                        color: rgb(33, 37, 41) !important;
                    }

                    .custom-hover:hover::before,
                    .custom-hover:focus::before,
                    .custom-hover:active::before {
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

/* ----- Estilos Header ----- */
header {
    width: 100%;
    height: 150px;
    background-image: url(../img/control_header.jpg);
    background-position: 0;
    background-size: cover;

    #texto-header {
        transform: translateY(-30px);
        text-align: center;
        color: white;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            padding: 50px;
        }
    }
}

/* ----- Estilos Main Index ----- */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .video-principal {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        overflow: hidden;

        #main-video {
            width: 100%;
        }

        .flecha-principal {
            display: none;
        }
    }

    .textos-principal {
        width: 70%;
        position: absolute;
        top: 0;
        margin-top: 20%;
        padding: 2%;
        overflow: hidden;
        border: 4px solid white;
        border-radius: 40px;

        h1 {
            font-size: 2rem;
            font-weight: 600;
            color: white;
        }

        h2 {
            font-weight: 100;
            font-size: 1.5rem;
            color: white;
        }
    }
}

/* ----- Estilos Seccion Secundaria ----- */
.seccion-secundaria {
    display: inline-block;
    width: 100%;
    padding: 0 40px;

    /* ----- ESTILOS POR PAGINA ----- */
    /* ----- Index ----- */
    .contenedor-tarjetas {
        justify-content: center;
        overflow: hidden;

        a {
            color: black;
        }

        .tarjeta {
            padding: 0;
            display: inline-block;
            width: 30rem;
            height: 42rem;
            margin: 1rem 3rem;
            border: 4px solid black;
            border-radius: 30px;

            h3 {
                font-size: 2rem;
                font-weight: 600;
                padding: 5px 20px;
            }

            p {
                font-size: 1.6rem;
                padding: 0 20px;
            }

            img {
                height: 30rem;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    /* ----- Galeria ----- */
    .galeria-fotos {
        padding: 2rem;

        h2 {
            font-size: 2rem;
        }

        .galeria-contenedor-imagenes {
            border: 4px solid black;
            border-radius: 30px;
            overflow: hidden;

            img {
                padding: 0;
            }
        }
    }

    .galeria-videos {
        padding: 30px;

        h2 {
            font-size: 2rem;
        }

        .galeria-contenedor-videos {
            display: flex;

            iframe {
                padding: 0;
                border: 4px solid black;
                border-radius: 20px;
            }
        }
    }

    /* ----- Contacto ----- */
    .contenedor-contacto {
        max-width: 600px;
        margin: auto;
        padding: 30px 0;

        h2 {
            font-size: 2.2rem;
        }

        .formulario {
            padding: 10px;
            border: 4px solid black;
            border-radius: 20px;
        }

        label {
            font-size: 1.2rem;
        }

        .contenedor-informacion-interno {
            padding: 10px;
            border: 4px solid black;
            border-radius: 20px;

            label {
                font-size: 1.2rem;
                display: block;
            }

            .mapa {
                display: flex;
                justify-content: center;
            }
        }
    }

    /* ----- Servicios ----- */
    .contenedor-servicios {
        background-color: rgb(245, 245, 245);
        border: 2px solid black;
        border-radius: 10px;

        .info-servicios {
            h2 {
                padding-top: 5px;
                font-weight: 400;
            }
        }

        .imagen-servicios {
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }

    /* ----- Nuestros trabajos ----- */
    .contenedor-trabajos {
        background-color: rgb(245, 245, 245);
        border: 2px solid black;
        border-radius: 10px;

        .info-trabajos {
            h2 {
                padding-top: 5px;
                font-weight: 400;
            }
        }
    }

    /* ----- FLECHA VOLVER ARRIBA ----- */
    .contenedor-flecha-volver-arriba {
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;

        img {
            width: 40px;
        }
    }
}

/* ----- Estilos Footer ----- */

footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 135px;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(30, 30, 30);

    .bloque-footer {
        display: inline-block;

        p {
            font-size: 0.9rem;
            color: white;
        }

        img {
            height: 1.2rem;
        }

        .info-footer {
            display: block;

            img {
                padding: 0 0.3rem;
                display: inline-block;
            }

            p {
                display: inline-block;
            }
        }

        .social-footer {
            transform: translateX(-40px);
            text-align: center;

            p {
                padding: 0.5rem 0;
            }

            .iconos-social {
                display: inline-block;

                a {
                    padding: 0 0.7rem;
                }
            }
        }

        .logo-footer {
            padding: 1rem;

            img {
                height: 3.5rem;
            }
        }
    }
}

/* ----- MEDIA QUERIES ----- */
@media screen and (min-width: 768px) {
    header {
        #texto-header {
            transform: translateY(0);
            text-align: center;
            color: white;
        }
    }

    /* ----- INDEX ----- */
    /* ----- SECCION PRINCIPAL ----- */
    main {
        .video-principal {
            .flecha-principal {
                display: block;
                position: absolute;
                bottom: 0;
                margin-bottom: 20px;

                img {
                    width: 40px;
                }
            }
        }

        .textos-principal {
            width: 70%;
            position: absolute;
            top: 0;
            margin-top: 20%;
            padding: 2%;
            overflow: hidden;
            border: 4px solid white;
            border-radius: 40px;

            h1 {
                font-size: 3rem;
                font-weight: 600;
                color: white;
            }

            h2 {
                font-weight: 100;
                font-size: 1.7rem;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    /* ----- INDEX ----- */
    /* ----- SECCION PRINCIPAL ----- */
    main {
        .video-principal {
            .flecha-principal {
                display: block;
                position: absolute;
                bottom: 0;
                transform: translateY(-15vw);

                img {
                    width: 40px;
                }
            }
        }

        .textos-principal {
            width: 70%;
            position: absolute;
            top: 0;
            margin-top: 20%;
            padding: 2%;
            overflow: hidden;
            border: 4px solid white;
            border-radius: 40px;

            h1 {
                font-size: 4rem;
                font-weight: 600;
                color: white;
            }

            h2 {
                font-weight: 100;
                font-size: 2rem;
                color: white;
            }
        }
    }
}